footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding-top: 110px;
  width: 100%;
  background: rgba(19, 19, 24, 0.05);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5vh;
}

footer .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 15px;
}

footer .logo img {
  width: 48px;
  height: 56px;
}

footer .logo h1 {
  font-size: 2.25rem;
  font-weight: 800;
}

footer p {
  width: 769px;
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 33px;
}

footer .social {
  display: flex;
  gap: 30px;
}

footer hr {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 872px;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
}
