@media screen and (max-width: 600px) {
  header,
  main {
    padding: 20px;
  }

  h3 {
    font-size: 1.25rem;
    margin-bottom: 3px;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1.25rem;
  }

  header .logo h1 {
    font-size: 1rem;
  }

  header nav ul {
    visibility: hidden;
    position: absolute;
  }

  header .banner {
    width: 100%;
    height: 50vh;
  }

  header nav .menu-icon {
    visibility: visible;
    position: relative;
    width: 24px;
    height: 24px;
  }

  header .banner {
    height: auto;
    padding: 0;
    padding-bottom: 16px;
    background-size: 100% 100%;
  }

  header .banner .banner-content h1 {
    font-size: 1.5rem;
  }

  header .banner .banner-content p {
    width: 90%;
    font-size: 0.9rem;
    line-height: 21px;
  }

  header .find-now {
    flex-direction: column;
    gap: 16px;
    width: 80%;
  }

  header .find-now .input,
  .select-input {
    padding: 0;
    margin: 0;
    width: 120%;
  }

  header .find-now .select-input img {
    right: 50px;
  }

  header .find-now button {
    width: calc(100% - 3px);
  }

  .one {
    flex-direction: column;
    text-align: left;
    justify-content: left;
  }

  .one .content,
  .one .image {
    width: calc(100% - 27px);
  }

  .one .content p {
    font-size: 0.875rem;
  }

  .one .content ul {
    left: 20px;
  }

  .two p {
    width: 90%;
    font-size: 0.875rem;
  }

  .two .images .row1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .two .images .row2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .two .images .row3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  #maldives,
  #indo,
  #sri,
  #north,
  #kash,
  #bang,
  #band {
    width: 100%;
    height: 50vh;
  }

  .three > p {
    width: 90%;
    font-size: 0.875rem;
  }

  .three .cards-section {
    flex-direction: column;
  }

  .three .cards {
    width: calc(100% - 48px);
  }

  .three .cards img {
    width: 48px;
    height: 48px;
  }

  .three .cards p {
    font-size: 0.875rem;
  }

  /* four section */

  .four {
    margin-bottom: 100px;
  }

  .four > p {
    width: 90%;
    font-size: 0.875rem;
  }

  .four .deals-row {
    height: 1532px;
  }

  .four .deals-card .card {
    width: 100%;
    height: 297px;
    padding-left: 25px;
  }

  .four .deals-card .card nav .date,
  .four .deals-card .card nav .personn,
  .four .deals-card .card nav .location {
    gap: 4px;
  }

  .four .deals-row .first,
  .four .deals-row .second,
  .four .deals-row .third {
    width: calc(100% - 32px);
    padding: 0;
    background-size: auto;
    align-items: end;
    justify-content: center;
    padding: 16px;
  }

  .four .deals-row .first,
  .four .deals-row .second,
  .four .deals-row .third p {
    font-size: 0.8rem;
    line-height: normal;
  }

  .four .deals-card .card nav {
    gap: 8px;
    margin-bottom: 16px;
    margin-top: 16px;
  }

  .four .deals-card .card p > span {
    font-size: 1rem;
    margin-bottom: 16px;
  }

  .four > button {
    visibility: hidden;
    position: absolute;
  }

  .five {
    flex-direction: column;
  }

  .five h6 {
    text-align: left;
    font-size: 20px;
    line-height: 30px;
  }

  .five .five-content p {
    width: 100%;
    font-size: .8rem;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .five .five-content ul li {
    margin-bottom: 14px;
  }

  .five .five-content button {
    margin-top: 3px;
  }

  .five .five-content ul li p {
    font-size: .8rem;
    line-height: 24px;
  }

  /* six section */

  .six {
    flex-direction: column;
    gap: 16px;
  }

  .six .six-content {
    width: calc(100% - 80px - 5px );
  }

  .six .six-image {
    height: 300px;
    width: 100%;
  }

  .six .six-image .save {
    width: 60%;
    bottom: 45px;
  }

  .six .six-image .save p {
    font-size: 1rem;
  }

  .six .six-image .save h4 {
    font-size: 1.25rem;
  }

  /* footer section  */

  footer {
    margin-bottom: 0;
  }

  footer .logo img {
    width: 35px;
    height: 33px;
  }

  footer .logo h1 {
    font-size: 1.25rem;
  }

  footer hr {
    width: 90%;
  }

  footer p {
    width: 90%;
  }

}
